.background-card {
  border-radius: 15px;
  height: 235px;
  position: relative;
}

#work {
  background-color: hsl(15, 100%, 70%);
}

#play {
  background-color: hsl(195, 74%, 62%);
}

#study {
  background-color: hsl(348, 100%, 68%);
}

#exercise {
  background-color: hsl(145, 58%, 55%);
}

#social {
  background-color: hsl(264, 64%, 52%);
}

#selfcare {
  background-color: hsl(43, 84%, 65%);
}

.card-body {
  border-radius: 15px;
  background-color: hsl(235, 46%, 20%);
  padding-top: 13px;
  padding-bottom: 13px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70%;
}

.card-body p {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: 25px;
}

.activity-titles {
  font-size: 18px;
}

.time {
  font-size: 300%;
}

.previous-time {
  color: #c0b9e6;
}

.iconClass {
  height: 79px;
  position: absolute;
  right: 0;
  margin-right: 15px;
}

/* Mobile View */
@media only screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: auto;
  }

  .card-body {
    height: 55%;
  }

  .background-card {
    height: 165px;
  }

  .card-body p {
    padding-top: 12px;
    padding-bottom: 0;
    margin-left: 25px;
  }

  .time,
  .previous-time {
    display: inline;
  }

  .previous-time {
    position: relative;
    top: -6px;
    font-size: 13px;
    padding-left: 5%;
  }
}
