@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

body {
  background-color: hsl(226, 43%, 10%);
}

/* Desktop */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 60px;
  grid-gap: 30px 30px;
}

.grid-item {
  color: #fff;
  border-radius: 15px;
  width: 270px;
}

#profile-item {
  grid-row: 1 / 3;
}

p {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  margin: 0;
}

.demo-data {
  color: #fff;
  margin: auto;
  margin-top: 50%;
}

.demo-data button {
  color: #fff;
  background-color: hsl(246, 80%, 60%);
  padding: 15px;
}

/* Tablet View */
@media only screen and (max-width: 768px) {
  .grid-container {
    padding: 20px;
  }

  .grid-item {
    width: 153px;
  }

  .grid-item .card-body p {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .grid-item .time {
    font-size: 250%;
  }

  .grid-item .previous-time {
    font-size: 10px;
  }
}

/* Mobile Landscape View */
@media only screen and (max-width: 630px) {
  .grid-container {
    padding: 0px;
  }

  .grid-item {
    width: 100%;
  }

  .grid-item .card-body p {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .grid-item .previous-time {
    position: relative;
    top: 3px;
    font-size: 15px;
  }
}

/* Mobile View */
@media only screen and (max-width: 425px) {
  .grid-item .time {
    font-size: 200%;
  }

  .grid-item .previous-time {
    font-size: 15px;
  }
}
