.profile-card {
  background-color: hsl(235, 46%, 20%);
  border-radius: 15px;
  height: 100%;
}

.top {
  background-color: hsl(246, 80%, 60%);
  border-radius: 15px;
}

.image-container {
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
}

.profile-card img {
  width: 25%;
  border: 5px solid #fff;
  border-radius: 100%;
}

.profile-card p {
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 7px;
}

.report-for {
  font-weight: 300;
  font-size: 14px;
}

.name {
  font-weight: 200;
  font-size: 35px;
  padding-bottom: 70px;
}

.profile-card-options {
  padding-top: 10px;
  padding-bottom: 10px;
}

.profile-card-options p {
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  display: block;
  border: none;
  background-color: transparent;
  color: #b3a7e6;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 15px;
  font-size: 14px;
}

button.current {
  color: #fff;
}

button:hover {
  cursor: pointer;
}

/* Mobile View */
@media only screen and (max-width: 600px) {
  button {
    display: inline-block;
    padding-bottom: 10px;
  }

  .top {
    height: 200px;
  }

  .top p {
    top: 170px;
  }

  .top .name {
    font-size: 25px;
    bottom: -30px;
    padding-bottom: 0;
  }
}
