.profile-card {
  background-color: hsl(235, 46%, 20%);
  border-radius: 15px;
  height: 100%;
  width: 275px;
}

.top {
  background-color: hsl(246, 80%, 60%);
  border-radius: 15px;
}

.image-container {
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
}

.profile-card img {
  width: 25%;
  border: 5px solid #fff;
  border-radius: 100%;
}

.profile-card p {
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 7px;
}

.report-for {
  font-weight: 300;
  font-size: 14px;
}

.name {
  font-weight: 200;
  font-size: 35px;
  padding-bottom: 70px;
}

.profile-card-options {
  padding-top: 10px;
  padding-bottom: 10px;
}

.profile-card-options p {
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  display: block;
  border: none;
  background-color: transparent;
  color: #b3a7e6;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 15px;
  font-size: 14px;
}

button.current {
  color: #fff;
}

button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .profile-card {
    width: 153px;
  }

  .name {
    padding-bottom: 58px;
    font-size: 27px;
  }

  .profile-card p {
    margin-top: 0;
  }

  .profile-card img {
    width: 30%;
    border: 3px solid #fff;
    border-radius: 100%;
  }
}

@media only screen and (max-width: 630px) {
  .profile-card {
    width: 100%;
  }

  .name {
    padding: 15px;
  }

  .profile-card p {
    padding-top: 0;
    margin-top: 0;
    position: relative;
    top: -15px;
  }

  .top {
    height: 250px;
    padding-bottom: 55px;
  }

  .profile-card {
    text-align: center;
  }

  .profile-card-options button {
    display: inline;
  }

  .image-container {
    padding-left: 0;
  }

  .profile-card img {
    width: 25%;
    border: 5px solid #fff;
    border-radius: 100%;
  }
}

@media only screen and (max-width: 425px) {
  .profile-card {
    text-align: center;
  }

  .profile-card-options button {
    display: inline;
  }

  .image-container {
    padding-left: 0;
  }

  .top {
    padding-bottom: 5px;
  }
}
